@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap');

@import "tailwindcss";

@import './components/inputs/form-input.css';
@import './components/buttons/submit-button.css';

@theme {
  --color-yt-ish: hsl(0, 0%, 95%);
  --color-blk-ish: hsl(0, 0%, 9%);

  --color-gy-ish: hsl(0, 0%, 40%);
  --color-gy-less: hsl(0, 0%, 30%);

  --font-roboto: 'Roboto', 'Arial', sans-serif;
  --font-palanquin: 'Palanquin', 'Arial', sans-serif;

  --shadow-card-slot: inset 0 0 25px rgba(0, 0, 0, 0.55);
}

@utility flex-center {
  @apply flex justify-center items-center;
}

@utility h-nav-link {
  @apply px-4 py-1.5 rounded-md bg-black/25 hover:bg-black/55;
}

@utility m-nav-link {
  @apply -mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-[var(--color-gy-ish)] hover:bg-zinc-900;
}

@layer base {
  html {
    font-family: var(--font-roboto);
  }

  h1 {
    font-family: var(--font-palanquin);
  }

  p {
    color: var(--color-blk-ish);
  }

  a {
    color: var(--color-yt-ish);
  }
}

body {
  @apply bg-[var(--color-blk-ish)];
}