@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap');

@import "tailwindcss";

@import './components/inputs/search-input/search-input.css';
@import './components/inputs/form-input/form-input.css';
@import './components/buttons/submit-button.css';

@theme {
  --color-yt-ish: hsl(0, 0%, 95%);
  --color-blk-ish: hsl(0, 0%, 9%);

  --color-gy-ish: hsl(0, 0%, 40%);
  --color-gy-less: hsl(0, 0%, 30%);

  --font-roboto: 'Roboto', 'Arial', sans-serif;
  --font-palanquin: 'Palanquin', 'Arial', sans-serif;

  --shadow-card-slot: inset 0 0 25px rgba(0, 0, 0, 0.55);
}

@utility flex-center {
  @apply flex justify-center items-center;
}

@utility header-nav-link {
  @apply px-4 py-1.5 rounded-md bg-black/25 hover:bg-black/55;
}

@utility mobile-nav-link {
  @apply -mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-[var(--color-gy-ish)] hover:bg-zinc-900;
}

@utility text-gradient-l {
  @apply text-transparent bg-clip-text bg-gradient-to-l to-amber-200 via-rose-200 from-blue-200;
}

@utility text-gradient-r {
  @apply text-transparent bg-clip-text bg-gradient-to-r from-blue-500 via-purple-500 to-pink-500;
}

@utility grid-gallery {
  @apply grid grid-cols-[repeat(auto-fill,_minmax(0,_192px))] auto-rows-auto justify-evenly min-h-[19em] shadow-card-slot rounded-2xl my-20 p-4 gap-20;
}

@utility label-style {
  @apply text-sm/6 font-medium text-[var(--color-gy-ish)];
}

@utility select-style {
  @apply max-w-[8em] w-full outline-none text-stone-500 border-y hover:border-y-2 border-stone-700 cursor-pointer py-1;
}

@layer base {
  html {
    font-family: var(--font-roboto);
  }

  h1 {
    font-family: var(--font-palanquin);
  }

  p {
    color: var(--color-blk-ish);
  }

  a {
    color: var(--color-yt-ish);
  }
}

body {
  @apply bg-[var(--color-blk-ish)];
}
